@import 'bootstrap.min';

.no-padding {
  padding: 0;
}

.margin-top-50{
  margin-top: 50px;
}

.alert {
  color: #fff;
  padding: 10px;
  margin: 20px 0px;
  text-align: center;
}

.success-alert {
  @extend .alert;
  background-color: green;
}

.error-alert {
  @extend .alert;
  background-color: red;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.cssload-container{
  position:relative;
  height: 10px;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(204,204,204);
  border-left-color: rgb(0,0,0);
  border-radius: 974px;
  -o-border-radius: 974px;
  -ms-border-radius: 974px;
  -webkit-border-radius: 974px;
  -moz-border-radius: 974px;
}

.cssload-whirlpool {
  margin: -24px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: cssload-rotate 2300ms linear infinite;
  -o-animation: cssload-rotate 2300ms linear infinite;
  -ms-animation: cssload-rotate 2300ms linear infinite;
  -webkit-animation: cssload-rotate 2300ms linear infinite;
  -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}
body {
      line-height: 1;
      margin: 50px;
    }
.bgcolor {

}
.calender {
      background: rgba(0, 0, 0, .25);
      border-radius: 20px;
      box-sizing: border-box;
      padding: 15px;
      width: 300px;
      display : table;
      margin : auto;
      margin-top :200px;
    }
header {
      overflow: clear;
      position: relative;

    }
h2 {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 10px;
      text-align: center;
    }
button {
      position: absolute;
      top: -4px;
    }
button:first-child {
      left: 0;
    }
button:last-child {
      right: 0;
    }
table {
      background: #fff;
      border-collapse: collapse;
      color: #222;
      font-family: 'PT Sans', sans-serif;
      font-size: 13px;
      width: 100%;
    }
td {
      border: 1px solid #ccc;
      color: #444;
      line-height: 22px;
      text-align: center;
    }
tr:first-child td {
      color: #222;
      font-weight: 700;
    }
.selected {
      background: #f0951d;
      border: 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
    }
.inputinline{
  display : inline-flex;

}
.padinputs{
  padding-right :30px;
}
.positionbutton{
  position : relative;
}
.input{
  height : 30px;
  width : 250px;
}

.board{
  padding: 10px;
  border: 1px solid;
  border-color: #688ea0;
  border-width: 5px;
  font-size: x-large;
}



.txtInput{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 98%;
    margin-left: 10px;
    margin-top: 40px;
    height: 45px;
    border: groove;
    font-size: x-large;
}
.wrongText{
  color: #de421b;
  text-decoration: underline;
}

.correctText{
  color : #51c751;
  text-decoration: underline;
}
.wrongTypeField{
  background-color : #da2c2c;
}

.startbutton{
  position: relative;
  margin-top: 15px;
  margin-left: 50%;
}







